body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

/* Autocomplete background */
.ant-select-selection {
  background-color: transparent !important;
}

.ant-select-combobox .ant-select-search__field {
  color: #9a9a9a !important;
}
